@page "/"
@using Newtonsoft.Json;
@using PolisApp.Models;
@inject HttpClient client;

<MudContainer MaxWidth="MaxWidth.Medium">

<div class="d-flex justify-center">
        <MudImage Fluid="true" ObjectPosition="ObjectPosition.Center" Height="200" Width="400" src="https://polisen.se/Areas/Polisen/Content/Images/Polisen.svg" />
</div>

<MudText Align="Align.Center" Typo="Typo.h4">Vart vill du se de senaste brotten som har hänt?</MudText>

<SearchCrimeInCities @ref="searchCrimeInCities" NameStadChanged="HandleNameStadChanged"></SearchCrimeInCities>

@if (NameStad is not null && NameStad.Count > 0)
{
    @foreach (var stad in NameStad.Skip(AmountOfItemsToShowOnPage * pageNumber).Take(AmountOfItemsToShowOnPage * pageMultiplier))
        {
            <MudCard Outlined="true">
                <MudCardContent>
                    <MudText Typo="Typo.h4" Align="Align.Center">@stad.Name.Substring(14,stad.Name.Length-14)</MudText>
                    <MudText Typo="Typo.body2" Align="Align.Center" Class="mb-5">@stad.Name.Substring(0,13)</MudText>
                    <MudText Typo="Typo.body1" Align="Align.Center">@stad.Summary</MudText>
                </MudCardContent>
                <MudCardActions Class="justify-end">
                        <MudLink Href="@($"https://polisen.se{stad.Url}")" Target="_blank">Läs mer här!</MudLink>
                </MudCardActions>
            </MudCard>

    }
}
else
{
    <p>@message</p>
}

    <div class="d-flex justify-center">
    <MudButtonGroup Ali Color="Color.Primary" Variant="Variant.Text" OverrideStyles="_overrideStyles">
        <MudButton Color="@(IsDisabled ? Color.Dark : Color.Primary)" Variant="Variant.Text" @onclick="(()=> ChangeToPreviousPage())" Disabled="@((AmountOfItemsToShowOnPage * pageNumber) == 0)">Föregående Sida</MudButton>
        <MudButton Color="@(IsDisabled ? Color.Dark : Color.Primary)" Variant="Variant.Text" @onclick="(()=>ChangeToNextPage())" Disabled=@((AmountOfItemsToShowOnPage * pageMultiplier) > NameStad.Count)>Nästa Sida</MudButton>
    </MudButtonGroup>
</div>


<MudScrollToTop>
    <MudFab Color="Color.Tertiary" Icon="@Icons.Material.Filled.ArrowCircleUp" />
</MudScrollToTop>
</MudContainer>

@code {

    List<CityDTO> NameStad = new();
    private bool _overrideStyles;
    private string message { get; set; } = "Inga brott hittades.";
    bool IsDisabled = false;



    private SearchCrimeInCities searchCrimeInCities = new();

    private int AmountOfItemsToShowOnPage = 10;
    private int pageNumber = 0;
    private int pageMultiplier = 1;

    private void HandleNameStadChanged(List<CityDTO> updatedNameStad)
    {
        NameStad = updatedNameStad;
    }

    private void ChangeToPreviousPage()
    {
        pageNumber -= 1;
        pageMultiplier -= 1;

    }
    private void ChangeToNextPage()
    {
        pageNumber += 1;
        pageMultiplier += 1;

    }

}